body {
  font-family: 'Kalam';
  font-weight: 300;
  text-align: center;
}

.form-container {
  margin: 10px;
}
.list-container {
  text-align: left;
  /* border: 1px solid black; */
  width: 350px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.todo-item-div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.delete-btn {
  color: tomato;
  background: #FFF;
  padding: 5px;
  border: 1px solid tomato;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #FFF;
  background: tomato;
}
